#footer {
  width: 100%;
  h3,
  h4 {
    line-height: 3rem;
  }
}

#footer-content-wrap {
  max-width: 75rem;
  margin: auto;
  text-align: center;
  padding: 2rem 0;
}

#logo-1 {
  color: HSL(0, 80%, 66%);
}

#logo-2 {
  color: HSL(36, 80%, 66%);
}

#logo-3 {
  color: HSL(72, 80%, 66%);
}

#logo-4 {
  color: HSL(108, 80%, 66%);
}

#logo-5 {
  color: HSL(144, 80%, 66%);
}

#logo-6,
#logo-7 {
  color: HSL(180, 80%, 66%);
}

#logo-8 {
  color: HSL(216, 80%, 66%);
}

#logo-9 {
  color: HSL(252, 80%, 66%);
}

#logo-10 {
  color: HSL(288, 80%, 66%);
}

#logo-11 {
  color: HSL(324, 80%, 66%);
}

#signature {
  color: rgba(255, 255, 255, 0.5);
}