$vertical-unit: calc(4rem + 2vw);
$vertical-unit2: calc((4rem + 2vw)*(1/4));
$header-color: rgba(255, 255, 255, 0.8);
$thumb-color: rgba(255, 255, 255, 0.5);
$thumb-height: 1.6rem;
$card-top: #3C3C3C;
$card-bottom: #262626;
$body-color: #BFBFBF;
$link-color: rgba(255, 255, 255, 0.5);
$link-hover:rgba(255, 255, 255, 0.8)
