body {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #fff;
  background-color: rgb(26, 26, 26);
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
}


/**************************
TYPOGRAPHY
**************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
  line-height: 1.5;
}

p,
a {
  font-size: 1em;
}

input {
  font-size: 1.5em;
}


/**************************
SCROLLBARS
**************************/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.9rem;
  cursor: pointer;
  box-shadow: none;
  background: none;
  border-radius: 0px;
  border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: none;
  border: none;
  height: 1.6rem;
  width: 1rem;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 2.2px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  box-shadow: none;
  background: none;
  border-radius: 0px;
  border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 1.6rem;
  width: 1rem;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: none;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: none;
}

input[type=range]::-ms-fill-upper {
  background: none;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: none;
}

input[type=range]::-ms-thumb {
  box-shadow: none;
  border: none;
  height: 1.6rem;
  width: 1rem;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: none;
}

input[type=range]:focus::-ms-fill-upper {
  background: none;
}


/**************************
GLOBALS
**************************/

.page-wrap {
  width: 100%;
  max-width: 75rem;
  margin: 3rem auto 10rem auto;
}

#primary {
  padding: 0 1rem;
}

.section-container {
  margin: 0 auto 4rem auto;
}

.card {
  flex: 1 1 auto;
  margin: auto .5rem;
  position: relative;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 3px;
  padding: 3px 0px;
  height: 4.5rem;
}

input.divider {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  width: 100%;
}

h2.header-item {
  line-height: 4rem;
  padding: .2rem 1rem;
}

.card-bottom {
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 24rem;
}

.selected {
  -webkit-box-shadow: inset 0px 0px 0px 5px #FFF;
  -moz-box-shadow: inset 0px 0px 0px 5px #FFF;
  box-shadow: inset 0px 0px 0px 5px #FFF;
  transition: .2s;
}

.close-card {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.5rem;
  flex: 0 1 4rem;
  line-height: 1;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close-card:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition: .1s ease-in-out;
}

.close-card:active {
  transform: scale(1);
  transition: .1s ease-in-out;
}

#secondary .swatch-container:after,
#primary .card:after {
  box-shadow: 0px 6px 100px 0px rgba(0, 0, 0, .8);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}


/**************************
HUE SECTION
**************************/

.hue-card .card-top {
  justify-content: flex-start;
}

.hue-card input.divider {
  max-width: 30rem;
  margin-right: 8px;
}

#hue-input-value {
  flex: 0 0 2rem;
  text-align: left;
}

.hue-card .card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  overflow-x: auto;
  height: 20rem;
  padding: 6px 3px 0px 3px;
}

.hue-card .card-bottom::-webkit-scrollbar {
  width: 1em;
}

.hue-card .card-bottom::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.hue-card .card-bottom::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .2);
}

.hue-container {
  flex: 0 1 100%;
  min-width: 1.5em;
  height: 100%;
  margin: auto 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.hue-container:hover {
  cursor: pointer;
}

.hue-container .hue {
  background-color: hsl(192, 100%, 50%);
  width: 100%;
  flex: 1 0 .5rem;
  transition: .33s;
}

.hue-container .hue-name {
  font-size: .875em;
  padding: .5rem 2px;
}


/**************************
SATURATION & LIGHTNESS SECTION
**************************/

.sl-input-table {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2px;
  height: 4.5rem;
}

.s-input-row,
.l-input-row {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  text-align: right;
  width: 100%;
  margin: 2px 0px;
}

.s-title-data,
.l-title-data {
  flex: 0 0 5.5rem;
  margin-right: 1rem;
}

.s-input-data,
.l-input-data {
  flex: 1 1 auto;
}

.s-input-value,
.l-input-value {
  position: relative;
  left: .75rem;
  text-align: left;
  flex: 0 1 2rem;
}

#sl-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.sl-card {
  margin-bottom: 1rem;
  flex: 0 1 100%;
}

.sl-table {
  border-collapse: separate;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  border-spacing: 6px;
}

.sl-table .sl {
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  word-break: normal;
  background: #eaeaea;
  transition: .33s;
  box-sizing: content-box;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .sl-card {
    flex-basis: calc(50% - 1rem);
  }
}


/**************************
SECONDARY
**************************/

#secondary {
  display: flex;
  transition: 1s;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin-top: -1rem;
}

#secondary .swatch-container {
  background: rgba(255, 255, 255, 0.05);
  height: 17rem;
  margin: 0 .5rem 1rem .5rem;
  border-radius: 4px;
  flex: 0 0 13.5rem;
  position: relative;
}

#secondary .swatch-container .close-card {
  float: right;
  padding: 0px 8px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

#secondary .swatch-container .final-color-wrap {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: cyan;
  height: 60%;
}

#secondary .swatch-container .final-color-meta {
  text-transform: uppercase;
  padding: 1rem;
  height: 40%;
}

@media screen and (max-width: 900px) {
  #secondary {
    justify-content: space-between;
  }
  #secondary .swatch-container {
    flex: 0 1 calc(50% - 1rem);
  }
}